body{
	background: #687A8F;
	margin:auto;
}
.container{
	background: #f9f9f8;
	text-align:center;
	margin-top: 60px;
	height:100%;
	width: 100%;
}
input{
	-moz-border-radius: 5px;
	border-radius: 3px;
    border:solid .5px #D8D8D8;
    padding:5px;
}
#register{
	font-family:'Helvetica';
	font-size:25px;
}
.login{
	background: #fff;
	font-family:'Helvetica';
	border-radius: 7px;
	box-shadow: 1px 1px 1px #D8D8D8;
	margin-top:25px;
	padding:30px;
	display: inline-block;
}
/*.footer{
}*/