body{
	background: #687A8F;
	margin:auto;
}
/*Dont need this using the template so there is no repeating*/
/*.header{
	display: inline-block;
	background: #fff;
	position: fixed;
	box-shadow: 0px 1px 0px #D8D8D8;
    top: 0;
    width: 100%;
    height: 60px;
}*/
/*.logo{
	display: inside;
	float: left;
	padding:.5%;
	font-family: "Helvetica";
	font-size: 40px;
}
.navbar{
    display: inline-block;
	float: right;
	margin-right:3px;
	font-family: "Helvetica";
}*/
/*li {
	list-style: none;
	float: left;
	padding-top: 10px;
	padding: 10px;
}*/
/*a {
	text-decoration: none;
}*/
.container{
	background: #f9f9f8;
	text-align:center;
	margin-top: 60px;
	height:100%;
	width: 100%;
}
input{
	-moz-border-radius: 5px;
	border-radius: 3px;
    border:solid .5px #D8D8D8;
    padding:5px;
}
#register{
	font-family:'Helvetica';
	font-size:25px;
}
.login{
	background: #fff;
	font-family:'Helvetica';
	border-radius: 7px;
	box-shadow: 1px 1px 1px #D8D8D8;
	margin-top:25px;
	padding:30px;
	display: inline-block;
}
/*.footer{
}*/