body{
background: #687A8F;
margin: 0%;
padding: 0%;
}

.col-span-12{
	width:100%;
}
.col-span-11{
	width:91.6666667%;
}
.col-span-10{
	width: 83.3333333%;
}
.col-span-9{
	width: 75%;
}
.col-span-8{
	width: 66.6666667%;
}
.col-span-7{
	width: 58.3333333%;
}
.col-span-6{
	width: 50%;
}
.col-span-5{
	width: 41.6666667%;
}
.col-span-4{
	width: 33.33333337%;
}
.col-span-3{
	width: 25%;
}
.col-span-2{
	width: 16.6666667%;
}
.col-span-1{
	width: 8.33333333%;
}

#menu{
	width: 100%;
	height: 40px;
	background: #F7C331;
	vertical-align: top;
}

.img{
    padding: .5%;
    float: right;
    position: relative;
    width: 25%;
    height: 25%;
 }
div.img:hover {
    border: 1px solid #777;
}
div.img img {
    width: 100%;
    height: 100%;
    display: inherit; 
}
h1{
	text-align: right;
	font-family: "Times New Roman";
	font-size: 14pt;
	color: #ffffff;
	margin: 3%;
}
h{
	font-size: 30pt;
	font-style: bold;
	color: #ffffff;
	margin-left: 4%;
	margin-bottom: 5%;
}
hr{
	height: 2px;
	color: #F7C331;
}
p{
	font-family: "Calibri";
	font-size: 12pt;
	text-align: left;
	position: absolute;
	color: #ffffff;
	width: 30%;
	margin: 1%;
}