body{
background: #687A8F;
}
#menu{
	width: relative;
	height: 30px;
	background: #F7C331;
	vertical-align: top;
}
#preview{
	width: 550px;
	height: 500px;
	outline: 3px;
	background:#687A8F;
	border: 4px solid #F7C331;
	position: absolute;
	right: 0px;
	padding: 10px;
}
h1{
	text-align: right;
	font-family: "Times New Roman";
	font-size: 14pt;
	color: #ffffff;
}
hr{
	height: 2px;
	color: #F7C331;
}
p{
	font-family: "Calibri";
	font-size: 12pt;
	text-align: left;
	position: left;
	color: #ffffff;
	width: 200pt
}