body{
	margin:auto;
	font-size: 17px;
	font-family: Helvetica;
}
/*Contains everything but header*/
.container{
	background: #f9f9f8;
	text-align:center;
}
/*Applying Different Selector*/
/*These containes the big photo and the samll one under it*/
.photoContainer,.thumbnails{
	background: #fff;
	border-radius: 7px;
	box-shadow: 1px 1px 1px #D8D8D8;
	margin-top:25px;
	padding:10px;
	display: inline-block;
	width: 70%;
	position: relative;
}
.thumbnails{
	margin: 2px;
}
.thumbnailsSingle{
	overflow-y: hidden;
	overflow-x: auto;
	width: 100%;
}
/*This containge the writen information presented to user*/
.info{
	color:white;
	position:absolute;
	z-index: 100;
	text-align: justify;
	background: rgba(255,255,255,.5);
	margin-top: 20%;
	font-size: 100%;
	overflow: auto;
	height: 80px;
	padding-top:1%;
	padding-bottom:1%;
	padding-left: 20%;
	padding-right: 20%;
}
/*Big image*/
.img{
    float: left;
    position: relative;
    width: 100%;
    opacity: 0.8;
 }
 /*Small images*/
 .img-t{
    float: left;
    position: relative;
    width: 100%;
    padding: 1px;
 }
 /*Applying Different Selector*/
 /*When hovergin over an image, it changes opacity*/
div.img-t:hover {
    margin: 0px;
    opacity:.7;
}
/*Applying Different Selector*/
div.img  img {
    width: 100%;
    display: inherit; 
}

