body{
	margin:auto;
	font-family: Helvetica;
}
/*Contains everything but header*/
.container1{
	background: #f9f9f8;
	text-align:center;
	position: relative;
}
/*Applying Different Selector.
  These contains the slide show photo 
  container and the thumbnails photo 
  containers*/
.photoContainer,.thumbnails{
	background: #fff;
	border-radius: 7px;
	box-shadow: 1px 1px 1px #D8D8D8;
	margin-top: 1px;
	padding: 10px;
	display: inline-block;
	width: 85%;
	position: relative;
	height: 74%;
}
.thumbnails{
	margin: 2px;
	height: auto;
}
.thumbnailsSingle{
	overflow-y: hidden;
	overflow-x: auto;
	width: 100%;
}
/*This contains the written information presented to user*/
.info{
	color: #fffdfd;
	position: absolute;
	z-index: 100;
	background: rgba(41, 38, 38, 0.31);
	font-size: 100%;
	overflow: auto;
	width: 100%;
	height:20%;
	top:40%;
}

.infotext{
	padding-top:3%;
}
/*Big image*/
.img{
    float: left;
    position: relative;
    width: 100%;
    opacity: 0.8;
    height: 100%;
 }
 /*Small images*/
 .img-t{
    float: left;
    position: relative;
    padding: 1px;
    width: 150px;
    height: 60px;
 }
 .img-t img{
    width:100%;
 }
 /*Applying Different Selector*/
 /*When hovergin over an image, it changes opacity*/
div.img-t:hover {
    margin: 0px;
    opacity:.7;
}

div.img  img {
    width: 100%;
    display: inherit; 
}
/*Big photo slideshow*/
.slideShow div.item{
	display: none;
	overflow: hidden;
	height: 100%;
}
/*Small photos thumbnails items*/
.thumbnailsSingle div.item{
	overflow: hidden;
	height: 100px;
}
/*Slide show when has class active*/
.slideShow div.active{
	display: block;
}
/*Thumbnails when has class active*/
.thumbnailsSingle div.active{
	display: block;
	opacity: .5;
}
/*Left/Right buttons container*/
.buttons{
	position: absolute;z-index: 1000;
	width: 100%;
	height: 100%;
}
/*Left/Right buttons*/
.right, .left{
	top: 0;
	opacity: 0.05;
	border-radius: 6px;
	position: relative;
	position: absolute;
	width: 10%;
	height: 100%;
	border: 0px;
	border-radius: 0px;
	font-size: 35px;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.75);
	color: #d7d2d2;
}
.right{
	right: 0;
}
.left{
	left: 0;
}
/*When hovering over Left/Right buttons*/
.right:hover, .left:hover{
	opacity: .6;
} 


