
body {
    background-color: #d9d9d9;
    margin-bottom: 0;
}
.imageOuter {
    margin: 0.2%;
}
.fileInput {
    display: none !important;
}
.col-lg-3, .col-md-4, .col-sm-6, .col-xs-12 {
    padding: 0 !important;
    width: 24% !important;
}
#galleryrow {
    margin: 1%;
}
.topFile {
    margin-top: 6px;
    background: rgba(245, 245, 245, 0);
    border-color: rgba(255, 255, 255, 0);
    color: #797777;
    padding: 7px;
}
.topFile:hover{
    color: black;
}
.hovereffect {
    border-radius: 3px;
    margin: 0.5%;
}
.radioLabel {
    padding-left: 15px;
}
.modal-container {
    position: relative;
    float: right;
}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}

/*Template code for #barOutline and #bar from http://www.w3schools.com/howto/howto_js_progressbar.asp tutorials.*/
#barOutline {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #d9d9d9;
}
#bar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: gray;
}
#barOutline {
    margin-top: 10%;
    width: 46%;
    margin-left: 23%;
}
