
body {
    background-color: #d9d9d9;
    margin-bottom: 0;
}
.imageOuter {
    margin: 0.2%;
}
.choose .uploads {
    background: #fafafa none repeat scroll 0 0;
    color: #968f8f;
    float: left;
    position: relative;
}
.choose {
    display: inline-flex !important;
    width: 20%;
}
.fileInput {
    color: #333;
    display: inline !important;
    height: 27px;
    width: 195px;
}
.upload, .topFile {
    border-style: solid;
    border-radius: 5px;
    color: #333;
    background: #fefefe;
    border-width: 1px;
    height: 33px;
    width: 95px;
}
.upload:hover, .topFile:hover {
    background: #e3e3e3 none repeat scroll 0 0;
}
.col-lg-3, .col-md-4, .col-sm-6, .col-xs-12 {
    padding: 0 !important;
}
#galleryrow {
    margin: 1%;
}
.topFile {
    z-index: 100;
    position: absolute;
}
.hovereffect {
    border-radius: 3px;
    margin: 0.5%;
}
