
body {
    background-color: #d9d9d9;
    margin-bottom: 0;
}
.imageOuter {
    margin: 0.2%;
}
.choose .uploads {
    background: #fafafa none repeat scroll 0 0;
    color: #968f8f;
    float: left;
    position: relative;
}
.choose {
    display: inline-flex !important;
    width: 20%;
}
.fileInput {
    color: #333;
    display: inline !important;
    height: 24px;
    width: 197px;
}
.upload, .topFile {
    background: #fefefe none repeat scroll 0 0;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: #333;
    height: 28px;
    width: 97px;
}
.upload:hover, .topFile:hover {
    background: #e3e3e3 none repeat scroll 0 0;
}
.col-lg-3, .col-md-4, .col-sm-6, .col-xs-12 {
    padding: 0 !important;
    width: 24% !important;
}
#galleryrow {
    margin: 1%;
}
.topFile {
    position: absolute;
    z-index: 100;
}
.hovereffect {
    border-radius: 3px;
    margin: 0.5%;
}
.radioLabel {
    padding-left: 15px;
}
.modal-container {
    position: relative;
    float: right;
}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}
